html, body {
    background-color: #131c22
}

h1 {
    font-family: arial;
    text-align: center;
    color: #3548ee;
    font-size: 3.5rem;
    text-decoration: underline;
}
h2{
    font-family: arial;
    text-align: center;
    color: #55b160;
    font-size: 2.5rem;
}

body {
    text-align: center;
    font-family: arial;
     font-size: 50px; 
    color: white
}
.pic1{
    padding-bottom: 20px;
    padding-left: 200px;
}
.pic2{
    padding-bottom: 20px;
    padding-left: 90px;
    /* padding-right: 100px; */
}
.pic3{
    padding-bottom: 20px;
    padding-left: 80px;
    /* padding-right: 100px; */
}
.buttons{
    /* position: absolute; */
    background-color: #a41528;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 100px;
    width: 480px;
    transform: translateY(-50%);
}
img {
	width: 400px;
}
